header{
  font-size: 70px;
  text-align: center;
}

ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.problem{
  font-size: 30px;
  margin: 0px 0px 50px 40px;

}

.pokemon{
  width: 4pc;
  height: 4pc;
  margin: -20px 0px 0px 50px;

}
.test{
  display: flex;
}
.maru{
  font-size: 30px;
  margin: 0px 0px 50px 50px;
  color:#FF0000;
  font-weight: 1000;
  text-stroke: 100px #FFFF00;
}

.ball{
  margin: 0px 0px 0px 1200px;
  width: 5pc;
  height: 4pc;
}